.loginContainer {
    display: flex;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    margin: 0 auto;
    color: #00b7ff;
    width: fit-content;
    border-radius: 25px;
    box-shadow: 5px 5px #3f3cd47e;
    top: 20px;
}

.login h1 {
    margin: 0;
    font-size: 3rem;
    color: rgb(0, 238, 255);
}
.login h2 {
    font-size: 2rem;
    color: rgb(0, 247, 255);
}
.btn {
    margin-top: 5px;
    float: right;
}

.btnCreate, .btn {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 25px;
    background-color: blue;
    color: #dadada;
    padding: 0.5rem 1rem;
    font-size: medium;
    margin-bottom: 15px;
    border: 2px solid white;
}

.btn:hover, .btnCreate:hover {
    color: #e2e2e2;
    transition: 0.1s;
    background-color: blueviolet;
    border: 2px solid grey;
}

.btn:active, .btnCreate:active {
    background-color: #ffffff;
    color: #000000;
}

.inputs {
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 5px 5px #5d3cd47e;
}
